
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-rss-squared:before { content: '\f143'; } /* '' */